**
!.dockerignore
!.golangci.yml
!Containerfile
!compose.yaml
!go.mod
!go.sum
!release_config_test.go
!.github/
!.github/workflows/
!.github/workflows/**
!cmd/
!cmd/**
!deploy/
!deploy/**
!docs/
!docs/**
!pkg/
!pkg/**
!proto/
!proto/**
!ui/
!ui/**
**/*.crt
**/*.db*
**/*.key
**/*.token
